body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.font-colour{
     color: darkgreen;
}

#new-colour{
    color: lime;
}
#colourful{
    color:green;
}

.paragraph{
    color: orangered;
    font-size: 20px;
}
.container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    display: flex;
}
.flexible{
    width: 40%;
    margin-bottom: 80px;
    padding-left: 2%;
    box-shadow: 15px 15px red

}
.flexible img{
    width: 90%;
}
h2{
    color: gray;
    font-size: 30px;
}
.Link-Button {
    background-color: #05e8ba;
background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.Dream-big{
    background-image: url(images/7.png);
    background-repeat: repeat;
}
.reflex img{
    width: 80%;
}
.size-letter{
    font-size: 20px;
}

#size{
    width: 350px; 
    height: 350px;
}
.side-by-side{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}


.flexibility{
    box-shadow: 1px solid gray;
    width:250px;
    margin-top: 7%;
    
}
.flexibility img{
    width: 100%
} 
.flexible-container1{
     display: flex;
     width: 90%;
     margin-left: 76px;
     box-shadow: 8px 6px 8px 6px gray;
     border-radius: 15px;
     font-weight: 700;
}
.goal-1{
    
    padding: 32px;
    width: 70%;
    margin-left: 130px;
    margin-top: 25px;
}
.goal-2{
    margin: 32px;
    padding: 32px;
    width: 70%;
}
.goal-3{
    margin: 32px;
    padding: 32px;
    width: 70%;
}
.title{

}
.last-div{
    background-color: black;
    width: 100%;
    height: 270px
}